/*kaskadowosc - stylr (do tego samego selektora - ze zgodną hierarchią) napisane póżniej, zastąpia styler zdefiniowane wcześniej*/

/*selektor uniwersalny "*", łapie wszystkie e;e,emty na stronie*/

* {
    margin: 0;
}

/*selektor zniacznika - lapie wszystkie wystapienia danego znacznika na stronie */

/*
p {
   margin: 5px;
}
*/

/*selektor klasy "." łapie elementy z podana klasa */

.green {
    color: blue;
}

.blue {
    color: green;
}

/*selektor łączony cechuje się tym, że nie podajemy spacji przy listowaniu atrybutów czy elementów (np. klas, id, atrybutów)*/

.blue.green {
    color: red;
}

/*pozycjonowanie 
zmieniając pozycję na inną niż static (statyczna), otrzymujemy dostęp do właściwości top,left,right,bottom. Oznaczają one: "odsuń od kierunku o:" */

.bgGreen {
    background-color: green;
    height: 400px;
    color: #FFFFFF;
    position: relative;

}

.bgRed {
    background-color: red;
    margin-bottom: 10px;

    /*    pozycja relatywna, odsuwa element od krawedzi top,left,right,bottom o podaną jednostkę względem miejsca, w którym by się znajdował*/
    /*    pozycjonowanie absolutne odbywa się względem elementu rodzica, ktory jest w pozycji relatywnej (jezeli nie ma takiego elementu, to ustawia sie wzgledem elementu body). ustawiajac pozycje abstolutna, mimo ze jest to element blokowy (display: block), element dostosowuje sie do contentu*/
    position: absolute;
    top: 60px;
    left: 30px;

}


.bgBlue {
    background-color: blue;
}

/*relatywna w relatywnej*/

/*grupowanie selektorow - po przecinku "," */

.relative,
.relative-inner {
    position: relative
}

.relative {
    background-color: yellow;
    height: 400px;

}

.relative-inner {
    background-color: pink;
    height: 50%;
    width: 50%;
    top: 100px;
    left: 25%;
}

/*position fixed - pozwala na ustawienie elementu względem OKNA PRZEGLĄDARKI*/

#main-nav {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1;
    width: 100%;
    background-color: aqua;
}

#selektor-uniwersalny {
    margin-top: 90px;
}

/*jednostki miary*/

#jednostki-miary {
    font-size: 30px;
}

#jednostki-miary div {
    background-color: aquamarine;
    margin: 10px 0;

}

#piksele {
    width: 400px;
}

#em {
    width: 20em;
}

#procenty {
    width: 50%;


}

#main-header {
    height: 100vh;
    background-color: beige;
}

/*Dla vh Pasek ma zazwyczaj 12px szerokości*/

/*pseudoelementy*/

#main-nav ul {
    list-style: none;

}

#main-nav ul li::before {
    font-family: FontAwesome;
    content: "\f2dd";
}

#main-header h1 {
    line-height: 100vh;
    text-align: center;
    position: relative;
}

#main-header h1::before,
#main-header h1::after {
    content: '';
    display: inline-block;
    width: 20%;
    border-top: 2px solid black;
    position: absolute;
    top: 50%;
    color: black;
}

#main-header h1::before {
    left: 10%;
}

#main-header h1::after {
    right: 10%;
}

/*pseudoklasy - po akcji użytkownika, lub gdy maja okreslone miejsce w strukturze */

#main-nav ul .list-item:first-child a {
    color: red;
}

#main-nav ul .list-item:last-child a {
    color: red;
}

/*hover kiedy myszka nad */

#main-nav ul .list-item a:hover {
    text-decoration: none;
    color: violet;

}
input{
    position: relative;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 10px;
    width: 300px;
    padding: 15px;
    background-color: lightcoral;
}
form input:focus{
    border: 5px solid red;
}


/* :visited -okresla sta odwiedzanego linka */
#main-nav ul .list-item a:visited {
    color: green;
}

/*nth-of*/
/*nth-child, lapie dziecko o okreslonym selektroze tylko wtedy kiedy jest na okreslonym miejscu*/

#dzieci p:nth-child(3){
    background-color: aqua;
}

/*nth-of-type, lapie selektor o okreslonym typie*/
/*zaczyna numerowanie elemetow od poczatku*/
#dzieci p:nth-last-of-type(3){
    background-color: blueviolet
        
}

/*zacyzna numerowanie od poczatku*/
#dzieci p:nth-of-type(5){
    background-color: blueviolet
}

/*
an + b:
a - oznacza co ile elementow przeskakujemy
b - oznacza od ktorego elementu zaczynamy*/
#dzieci p:nth-of-type(3n + 1){
    background-color: yellow;
}

/*selektory atrybutów */
/*podajemy w nawiasach kwadratowych - po nazwie atrybutu*/

#selektory-atrybutow input[type]{
    border: 5px solid blue;
}

/*po okreslonej wartosci atrybutu*/
#selektory-atrybutow input[title="opis"]{
    border: 5px solid red;
}

/*Jeżeli zawiera w sobie string. String musi byc podany jako CAŁA WARTOŚĆ*/
#selektory-atrybutow input[title~="pierwszy"]{
    border: 5px solid black;
}

/*jeżeli zawiera w sobie określony ciąg znaków*/
#selektory-atrybutow input[title*="dru"]{
    border: 5px solid pink;
}

/*zaczynajace sie od okreslonego ciagu znakow*/
#selektory-atrybutow input[title^="op"]{
    border: 5px solid red;
}

/*konczące sie okreslonym ciagiem znakow*/
#selektory-atrybutow input[title$="gi"]{
    border: 5px solid green;
}

